*{
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;
}

/**home page**/
.header{
	min-height:100vh;
	width:100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/estetik.jpg");
	background-position:center;
	background-size:cover;
	position:relative;
}
nav{
	display:flex;
	padding:2% 6%;
	justify-content:space-between;
	align-items:center;
}
nav img{
	width:100px;
}
.nav-links{
	flex:1;
	text-align:right;
}
.nav-links ul li{
	list-style:none;
	display:inline-block;
	padding:8px 12px;
	position:relative;
}
.nav-links ul li a{
	color:#fff;
	text-decoration:none;
	font-size:20px;
}


.nav-links ul li::after{
	content:'';
	width:0%;
	height:2px;
	background:#f44336;
	display:block;
	margin:auto;
	transition:0.5s;
}
.nav-links ul li:hover::after{
	width:100%;
}
.text-box{
	width:90%;
	color:#fff;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align:center;
}
.text-box h1{
	font-size:62px;
}
.text-box p{
	margin:10px 0 40px;
	font-size:14px;
	color:#FFFFFF;
}

.hero-btn{
	display:inline-block;
	text-decoration:none;
	color:black;
	border:1px solid #000000;
	padding:12px 34px;
	font-size:13px;
	background:transparent;
	position:relative;
	cursor:pointer;
}
.hero-btn:hover{
	border: 1px solid #f44336;
	color: black;
	background:#E8BB8E;
	transition:1s;
}

nav .fa{
	display:none;
}

@media(max-width: 700px){
	.text-box h1{
	font-size:20px;
	}
	.nav-links ul li{
	display:block;
	}
	.nav-links{
	position:absolute;
	background:#f44336;
	height:100vh;
	width:200px;
	top:0;
	right:-200px;
	text-align:left;
	z-index:2;
	transition:1s;
	}
    nav .fa{
		display:block;
		color:#fff;
		margin:10px;
		font-size:22px;
		cursor:pointer;
	}
	.nav-links ul{
		padding:30px;
	}
}
/*---- about----*/
.about{
	width:80%;
	margin:auto;
	text-align: center;
	padding-top: 70px;
}
h1{
	font-size: 36px;
	font-weight: 600;
}
p{
	color:  #777777;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px; 
	text-align: center;
	padding:10px;
}
ul li{
	font-size: 13px;
	color: black;
	padding: 10px;
}

.row{
	margin-top: 40px;
	display:flex;
	justify-content:space-around;
}
.about-col{
	flex-basis: 31%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}

.about-col p{
	text-align: left;
}
h3{
	text-align: center;
	font-weight:600;
	margin: 10px 0;
}
.about-col:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:700px){
	.row{
		flex-direction: column;
	}
}
/*campus*/
.branches{
	width: 80%;
	margin:auto;
	text-align: center;
	padding-top: 55px;
}
.branches p{
	text-align: center;
}

.layer{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	transition: 0.5s;
}
.layer:hover{
	background: rgba(120,150,200,0.9);
}
.layer h3{
	width: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	left:10%;
	tranform:translateX(-50%);
	position: absolute;
	transition: 0.5s;
}
.layer:hover h3{
	bottom:40%;
	opacity: 1;
	
}

/*----facilities-----*/
.dental{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
.dental-col{
	flex-basis: 40%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
}
.dental-col img{
	width: 100%;
	border-radius: 10px;
}
.dental-col p{
	padding:0;
	text-align: left;
}
.dental-col h3{
	margin-top:16px;
	margin-bottom: 15px;
	text-align: left;
}

/*testimonial*/
.testimonial{
	width:80%;
	margin:auto;
	padding-top: 50px;
	text-align: center;
}
.testimonial-col{
	flex-basis:44%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	background: #fff3f3;
	padding:25px;
	cursor: pointer;
	display:flex;
}
.testimonial-col img{
	height: 40px;
	margin-left: 5px;
	margin-right: 40px;
	border-radius: 50%;
}
.testimonial-col p{
	padding: 0;
	text-align: left;
}
.testimonial-col h3{
	margin-top: 15px;
	text-align: left;
}
.testimonial-col .fa{
	color:#0DBFEC;
}
@media(max-width:700px){
	.testimonial-col img{
	margin-left: 0px;
	margin-right: 15px;
}
}
/*------ CALL TO ACTION-----*/
.cta{
	margin:100px auto;
	width: 80%;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("images/ahli.jpg");
	background-position: center;
	border-size:cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
	}
.cta h1{
	color:#fff;
	margin-bottom: 40px;
	padding: 0;
}
@media(max-width:700px){
	.cta h1{
		font-size:24px;
	}
}

form .user-details .input-box{
  margin-bottom: 5px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width:auto;
  outline:auto;
  font-size: 15px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #f44336;
}
/*foot*/
.foot{
	width: 100%;
	text-align: center;
	padding: 30px 0;
}
.footer h4{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}
.icons .fa{
	color:aqua;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
}
.fa-heart-o{
	color: orangered;
}
/*footer*/

footer{
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}